
.about-me {
  color: white;
  background-color: #0c0c0c;
  font-family: 'Raleway', sans-serif; 
  padding-left: 40px; 
}

.about-me h1, .about-me h2 {
  text-align: left; 
}

.about-me h1 {
  margin-bottom: 0.5em;
}

.about-me section {
  margin-bottom: 2em;
}

.about-me p, .about-me blockquote {
  font-size: 1em; 
  line-height: 1.6;
  max-width: 800px; 
  margin: 0; 
}

.about-me a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid white;
}

.about-me blockquote {
  font-style: italic;
  margin: 1em 0;
}



  