
.about-me {
  color: white;
  background-color: #0c0c0c; /* You might adjust this to match your site's theme */
  font-family: 'Raleway', sans-serif; /* Use whatever font you like */
  padding-left: 40px; /* Add left padding to align text to the left */
}

.about-me h1, .about-me h2 {
  text-align: left; /* Align text to the left */
}

.about-me h1 {
  margin-bottom: 0.5em;
}

.about-me section {
  margin-bottom: 2em;
}

.about-me p, .about-me blockquote {
  font-size: 1em; /* Adjust as needed */
  line-height: 1.6; /* Adjust for readability */
  max-width: 800px; /* Keeps lines from being too wide */
  margin: 0; /* Remove auto margin to align to the left */
}

.about-me a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid white; /* Underlines the link */
}

.about-me blockquote {
  font-style: italic;
  margin: 1em 0;
}



  